@model HomeIndexViewModel
@{
    ViewBag.Title = "Home page";
}

<h1>All the Ghibli locations!</h1>
<table>
    <tr>
        <td><strong>Id</strong></td>
        <td><strong>Name</strong></td>
    </tr>
    @foreach (var location in Model.Locations)
    {
        <tr>
            <td>@location.Id</td>
            <td>@location.Name</td>
            <td>
                <a asp-action="Details" asp-route-id="@location.Id">More</a>
                <a asp-page="/Locations/Edit" asp-route-id="@location.Id">Edit</a>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Add a new location</a>

@section footer { 
    @Model.CurrentMessage
}